{% extends 'base.html.twig' %}

{% block title %}Arrazoia index{% endblock %}

{% block body %}
    <h1>Arrazoia index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Name</th>
                <th>Aldibaterako</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for arrazoium in arrazoias %}
            <tr>
                <td>{{ arrazoium.id }}</td>
                <td>{{ arrazoium.name }}</td>
                <td>{{ arrazoium.aldibaterako ? 'Yes' : 'No' }}</td>
                <td>
                    <a href="{{ path('arrazoia_show', {'id': arrazoium.id}) }}">show</a>
                    <a href="{{ path('arrazoia_edit', {'id': arrazoium.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="4">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('arrazoia_new') }}">Create new</a>
{% endblock %}
