{% extends 'base.html.twig' %}

{% block title %}SailkapenTaldea index{% endblock %}

{% block body %}
    <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
        <h1 class="h2">{{ "Sailkapen talde zerrenda" | trans }}</h1>
        <div class="btn-toolbar mb-2 mb-md-0">
            <div class="btn-group mr-2">
                <a class="btn btn-sm btn-outline-secondary" href="{{ path('sailkapen_taldea_new') }}">{{ "Sailkapen talde berria" | trans }}</a>
            </div>
        </div>
    </div>

    <table class="mydatatable table table-striped table-hover table-sm">
        <thead>
            <tr>
                <th>Id</th>
                <th>Izena</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
        {% for sailkapen_taldea in sailkapen_taldeas %}
            <tr>
                <td>{{ sailkapen_taldea.id }}</td>
                <td>{{ sailkapen_taldea.name }}</td>
                <td>
                    <ul class="list-inline">
                        <li class="list-inline-item">
                            <a href="{{ path('sailkapen_taldea_edit', {'id': sailkapen_taldea.id}) }}">
                                <i class="fas fa-edit"></i>
                            </a>
                        </li>
                        <li class="list-inline-item">
                            {{ include('sailkapen_taldea/_delete_form.html.twig') }}
                        </li>
                    </ul>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="3">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}
