
<table class="mydatatable table table-striped table-hover table-sm">
    <thead>
    <tr>
        <th>{{ "Hurrenkera" | trans }}</th>
        <th>{{ "Izena" | trans }}</th>
        <th>{{ "1ยบ Abizena" | trans }}</th>
        <th>{{ "2ยบ Abizena" | trans }}</th>
        <th>{{ "NAN" | trans }}</th>
        <th>{{ "Email" | trans }}</th>
        <th>{{ "Telefonoa" | trans }}</th>
        <th>{{ "Helbidea" | trans }}</th>
        <th></th>
    </tr>
    </thead>
    <tbody>
    {% for item in employeelist %}
        {% if item.employee %}
            <tr>
                <td>{{ item.position }}</td>
                <td><a href="{{ path('employee_edit', {'id': item.employee.id}) }}">{{ item.employee.name }}</a></td>
                <td><a href="{{ path('employee_edit', {'id': item.employee.id}) }}">{{ item.employee.abizena1 }}</a></td>
                <td><a href="{{ path('employee_edit', {'id': item.employee.id}) }}">{{ item.employee.abizena2 }}</a></td>
                <td><a href="{{ path('employee_edit', {'id': item.employee.id}) }}">{{ item.employee.nan }}</a></td>
                <td><a href="{{ path('employee_edit', {'id': item.employee.id}) }}">{{ item.employee.email }}</a></td>
                <td><a href="{{ path('employee_edit', {'id': item.employee.id}) }}">{{ item.employee.telefono }}</a></td>
                <td><a href="{{ path('employee_edit', {'id': item.employee.id}) }}">{{ item.employee.helbidea }}</a></td>
                <td>
                    <ul class="list-inline">
                        <li class="list-inline-item">
                            <a href="{{ path('employee_show', {'id': item.employee.id}) }}"><i class="fas fa-eye"></i></a>
                        </li>
                        <li class="list-inline-item">
                            <a href="{{ path('employee_edit', {'id': item.employee.id}) }}"><i class="fas fa-edit"></i></a>
                        </li>
                        <li class="list-inline-item">
                            {{ include('zerrenda/_delete_employee_form.html.twig') }}
                        </li>
                        {% if app.request.get('_route') is same as ('zerrenda_edit') %}
                            <li class="list-inline-item">
                                <a href="#">Egoera aldatu</a>
                            </li>
                        {% endif %}
                    </ul>
                </td>
            </tr>
        {% endif %}
    {% else %}
        <tr>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
        </tr>
    {% endfor %}
    </tbody>
</table>
