{% extends 'base.html.twig' %}

{% block title %}Employee index{% endblock %}

{% block body %}

    <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
        <h1 class="h2">{{ "Zerrendak" | trans }}</h1>
        <div class="btn-toolbar mb-2 mb-md-0">
            <div class="btn-group mr-2">
                <a class="btn btn-sm btn-outline-secondary" href="{{ path('zerrenda_new') }}">{{ "Zerrenda berria" | trans }}</a>

            </div>
        </div>
    </div>

    <table class="mydatatable table table-striped table-hover table-sm">
        <thead>
        <tr>
            <th>Id</th>
            <th>{{ "Izena" | trans }}</th>
            <th>{{ "Zenbat" }}</th>
            <th></th>
        </tr>
        </thead>
        <tbody>
        {% for zerrenda in zerrendas %}
            <tr>
                <td>{{ zerrenda.id }}</td>
                <td>{{ zerrenda.name }}</td>
                <td><span class="badge badge-secondary">{{ zerrenda.employeeZerrenda | length }}</span</td>
                <td>
                    <ul class="list-inline">
                        <li class="list-inline-item">
                            <a href="{{ path('zerrenda_show', {'id': zerrenda.id}) }}"><i class="fas fa-eye"></i></a>
                        </li>
                        <li class="list-inline-item">
                            <a href="{{ path('zerrenda_edit', {'id': zerrenda.id}) }}"><i class="fas fa-edit"></i></a>
                        </li>
                        <li class="list-inline-item">
                            {{ include('zerrenda/_delete_form.html.twig') }}
                        </li>
                    </ul>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="11">Ez da daturik aurkitu.</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

{% endblock %}
