{{ form_start(form) }}

    {{ form_row(form.jobType) }}
    {{ form_row(form.saila) }}
    {{ form_row(form.user) }}
    {{ form_row(form.arrazoia) }}
    {{ form_row(form.name) }}

    {{ form_row(form.startDate) }}
    {{ form_row(form.endDate) }}

    {{ form_row(form.description) }}

    {{ form_row(form.created) }}

    <div style="display: none;" id="divPrograma">

        {{ form_row(form.eginkizunak) }}
        {{ form_row(form.sailkapenTalea) }}
        {{ form_row(form.titulazioa) }}
        {{ form_row(form.hizkuntza) }}
        {{ form_row(form.bestebatzuk) }}

    </div>

    {{ form_rest(form) }}

    <button class="btn btn-primary">{{ button_label|default('Gorde') }}</button>

{{ form_end(form) }}
