{{ form_start(form) }}

    {{ form_row(form.name) }}
    {{ form_row(form.abizena1) }}
    {{ form_row(form.abizena2) }}
    {{ form_row(form.nan) }}
    {{ form_row(form.email) }}
    {{ form_row(form.telefono) }}
    {{ form_row(form.helbidea) }}
    {{ form_row(form.municipio) }}

    <button class="btn btn-primary">{{ "Gorde" | trans }}</button>
{{ form_end(form) }}
