<div class="row">&nbsp;</div>
<div class="row">
    <div class="col-md-12">
        <h4>Zerrendak</h4>
        <table class="table table-striped table-sm">
            <thead>
            <tr>
                <th>{{ "Izena" | trans }}</th>
                <th>{{ "Egoera" | trans }}</th>
                <th>{{ "Hurrekera zerrendan" | trans }}</th>
                <th></th>
            </tr>
            </thead>
            <tbody>
            {% for et in employee.employeeZerrenda %}
                {% if et.zerrenda %}
                    <tr>
                        <td>{{ et.zerrenda.name }}</td>
                        <td>{{ et.type }}</td>
                        <td>{{ et.position }}</td>
                        <td>
                            <a class="btnZerrendaType" data-employeeid="{{ et.employee.id }}" data-zerrendaid="{{ et.zerrenda.id }}" href="{{path('employee_zerrenda_type_new', {
                                'employeeid': et.employee.id, 'zerrendaid': et.zerrenda.id
                            })}}">Egoera aldatu</a>
                        </td>
                    </tr>
                {% endif %}
            {% endfor %}
            </tbody>
        </table>
    </div>
</div>
