<!doctype html>
<html lang="eu">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="Iker Ibarguren">
    <meta name="generator" content="Jekyll v3.8.5">
    <title>Ordezkatu</title>

    {% block stylesheets %}
        {{ encore_entry_link_tags('cssGlobal') }}
    {% endblock %}

</head>
<body class="{% block bodyClass %}{% endblock %}">

    {% block navbar %}
        {{ include('_navbar.html.twig') }}
    {% endblock %}

    {% block noMain %}
        {% block main %}
            <main role="main" class="container-fluid">
                <div class="row" style="display: none;">
                    <div class="col-md-2"></div>
                    <div class="col-md-8">
                        {% for label, messages in app.flashes %}
                            {% set mezua = "" %}
                            {% for message in messages %}
                                {% set mezua = mezua ~ '<br/>' ~ message %}

                            {% endfor %}
                            <div class="myalert alert alert-{{ label }}" data-alert="{{ label }}" data-message="{{ mezua }}">
                            </div>
                        {% endfor %}
                    </div>
                    <div class="col-md-2"></div>
                </div>
                <div class="row">
                    {% block sidebar %}
                        {{ include('_sidebar.html.twig') }}
                    {% endblock %}
                    <main role="main" class="col-md-9 ml-sm-auto col-lg-10 px-4">
                        {% block sf_data %}{% endblock %}
                        <div class="example-wrapper" id="app">
                            <app></app>
                        </div>
                    </main>

                </div>


            </main><!-- /.container -->
        {% endblock %} {# main#}
    {% endblock %} {# noMain #}

    {% block javascripts %}
        <script src="{{ asset('bundles/fosjsrouting/js/router.min.js') }}"></script>
        <script src="{{ path('fos_js_routing_js', { callback: 'fos.Router.setData' }) }}"></script>
        {{ encore_entry_script_tags('jsApp') }}
        {{ encore_entry_script_tags('jsSearch') }}
        {{ encore_entry_script_tags('jsVueAppAddEmployee') }}
    {% endblock %}

    <input id="app_locale" type="hidden" name="app_locale" value="{{ app.request.getLocale() }}">
</body>
</html>
